In [3]:
sales = 150.5

In [4]:
type(sales)

float

In [5]:
quantity = 10

In [6]:
type(quantity)

int

In [7]:
custname = 'Rahul'

In [8]:
type(custname)

str

In [9]:
output = sales>100

In [11]:
type(output)

bool

**Dynamically Typed Programming Language**

In [12]:
out_put = 'Rahul'

In [13]:
out_put

'Rahul'

In [14]:
_output = 'Rahul'

In [15]:
_output

'Rahul'

In [ ]:
_ underscores - Can be at the start, It can be in the middle on anywhere, It can be at the last also 
Alphabets - Yes, it can be small it can be capital 
Numbers - It can be in the identifiers but numbers cannot be present at the start

In [16]:
output = 'Rahul'
OUTPUT = 'Rohit'

In [17]:
output

'Rahul'

In [18]:
OUTPUT

'Rohit'

In [20]:
out123put = 'Rahul'

In [21]:
out123put

'Rahul'

In [22]:
output123 = ' Rahul'

In [23]:
output123

' Rahul'

**Python collection datatypes / Data Structures**

In [ ]:
Lists
Tuples
Sets
    Frozensets
Dictionaries

In [24]:
ages = [21,22,22,24,25,27,28]

In [25]:
type(ages)

list

In [26]:
ages[3]

24

In [28]:
ages[2:6]

[22, 24, 25, 27]

In [29]:
ages[2:7]

[22, 24, 25, 27, 28]

In [30]:
ages[2:]

[22, 24, 25, 27, 28]

In [31]:
ages[3]

24

In [32]:
ages[-4]

24

In [34]:
len(ages)

7

In [36]:
id(ages)

1504942628992

In [39]:
ages[3]=22

In [41]:
id(ages)

1504942628992

In [42]:
salary = (21,43,56,54,32)

In [43]:
salary[3]

54

In [45]:
salary[3]=22

TypeError: 'tuple' object does not support item assignment

In [46]:
del salary

In [47]:
del out123put

In [48]:
del out_put

In [49]:
del output

In [50]:
del output123

In [ ]:
sets

In [51]:
set1 = {1,2,2,3,4,4,4,4,4,5}

In [52]:
set1

{1, 2, 3, 4, 5}

In [ ]:
sets - Mutable

In [55]:
fsset = frozenset(set1)

In [ ]:
Immutable in nature

In [ ]:
key value pairs

In [56]:
student_details = {'sid':[1,2,3,4,5],'sname':['A','B','C','D','E'], 'sregion':['N','S','S','E','W']}

In [58]:
type(student_details)

dict

In [59]:
student_details

{'sid': [1, 2, 3, 4, 5],
 'sname': ['A', 'B', 'C', 'D', 'E'],
 'sregion': ['N', 'S', 'S', 'E', 'W']}

In [60]:
import pandas as pd
pd.DataFrame(student_details)

   sid sname sregion
0    1     A       N
1    2     B       S
2    3     C       S
3    4     D       E
4    5     E       W

In [ ]:
Conditional Logic (Flow Control)

In [ ]:
if else 
for 
while

In [66]:
marks = int(input('Enter the marks you got: '))
if marks<35:
    print('You failed the exam')
else:
    print('You passed the exam')

Enter the marks you got: 25
You failed the exam

In [64]:
type(marks)

str

In [69]:
marks = int(input('Enter the marks: '))
if marks<35:
    print('you failed the exam')
elif marks>=35 and marks<=60:
    print('You got an avg marks')
else:
    print('You got an excellent marks')

Enter the marks: 65
You got an excellent marks

In [ ]:
for loops

In [72]:
salary = [150,125,135,145,135]

for i in salary:
    print(i*1.05)

157.5
131.25
141.75
152.25
141.75

In [75]:
name = 'rahul'
for i in name:
    print(i+' '+'upgrad')

r upgrad
a upgrad
h upgrad
u upgrad
l upgrad

In [94]:
sales = [102,343,234,234,222,455,443,222,444,222,333,222,444,625,333,232]
profit = [43,23,22,11,33,45,33]

In [96]:
for i in range(0,len(profit)):
    print(profit[i]/sales[i])

0.4215686274509804
0.06705539358600583
0.09401709401709402
0.04700854700854701
0.14864864864864866
0.0989010989010989
0.0744920993227991

In [79]:
profit[0]

43

In [84]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [91]:
len(profit)

15

In [ ]:
while loops

In [ ]:
while 1==1:
    print('Hi')

In [97]:
while 1==0:
    print('Hi')

In [98]:
coupouns = 5
utilized = 0

while utilized<=coupouns:
    print('The total coupouns left are: ', coupouns-utilized)
    utilized=utilized+1
print('There are no coupons left')

The total coupouns left are:  5
The total coupouns left are:  4
The total coupouns left are:  3
The total coupouns left are:  2
The total coupouns left are:  1
The total coupouns left are:  0
There are no coupons left

In [107]:
number = int(input('Enter the number: ')) 
if number<0:
    print('There is no factorial of a negative number')
else:
    result = 1 
    while number>=1:
        result = result*number
        number=number-1
    print(result)

Enter the number: -5
There is no factorial of a negative number